{{partial 'partials/nav'}}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{outlet}}

      <div class="well">
        There are currently <strong>{{numberOfMessages}}</strong> in the message queue
      </div>

    </div>
    <div class="col-sm-3 col-sm-offset-1">
      {{partial 'partials/debugger'}}
    </div>
  </div>
</div>